/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* Ensure the html and body take up the full height of the viewport */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Container should also fill the height and use flexbox */
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Main content should expand to fill the remaining space */
main {
  flex: 1;
}

/* Global styles (e.g., App.css) */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1;
}

/* Footer styles (e.g., Footers.css) */
.footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer_left, .footer_center, .footer_right {
  margin-bottom: 10px;
}

.footer_right_info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer_right_info p {
  margin-left: 10px;
}

.footer img {
  width: 150px; /* Adjust as needed */
}

